{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock customcss %}

{% block content %}
<table class="menu" border="1">
    <tr>
        <th>時間</th>
        <th>月曜日</th>
        <th>火曜日</th>
        <th>水曜日</th>
        <th>木曜日</th>
        <th>金曜日</th>
        <th>土曜日</th>
        <th>日曜日</th>
    </tr>
    <tr>
        <td class="table_link"><a id="link" href="">一コマ</a></td>
        <td class="table_link"><a id="link" href=""></a></td>
        <td class="table_link"><a id="link" href=""></a></td>
        <td class="table_link"><a id="link" href=""></a></td>
        <td class="table_link"><a id="link" href=""></a></td>
        <td class="table_link"><a id="link" href=""></a></td>
        <td class="table_link"><a id="link" href=""></a></td>
        <td class="table_link"><a id="link" href=""></a></td>
    </tr>
    <tr>
        <td class="table_link" id='link'><a id="link" href="">二コマ</a></td>
        <td class="table_link"><a id="link" href=""></a></td>
        <td class="table_link"><a id="link" href=""></a></td>
        <td class="table_link"><a id="link" href=""></a></td>
        <td class="table_link"><a id="link" href=""></a></td>
        <td class="table_link"><a id="link" href=""></a></td>
        <td class="table_link"><a id="link" href=""></a></td>
        <td class="table_link"><a id="link" href=""></a></td>
    </tr>
    <tr>
        <td class="table_link"><a id="link" href="">三コマ</a></td>
        <td class="table_link"><a id="link" href=""></a></td>
        <td class="table_link"><a id="link" href=""></a></td>
        <td class="table_link"><a id="link" href=""></a></td>
        <td class="table_link"><a id="link" href=""></a></td>
        <td class="table_link"><a id="link" href=""></a></td>
        <td class="table_link"><a id="link" href=""></a></td>
        <td class="table_link"><a id="link" href=""></a></td>
    </tr>
    <tr>
        <td class="table_link"><a id="link" href="">四コマ</a></td>
        <td class="table_link"><a id="link" href=""></a></td>
        <td class="table_link"><a id="link" href=""></a></td>
        <td class="table_link"><a id="link" href=""></a></td>
        <td class="table_link"><a id="link" href=""></a></td>
        <td class="table_link"><a id="link" href=""></a></td>
        <td class="table_link"><a id="link" href=""></a></td>
        <td class="table_link"><a id="link" href=""></a></td>
    </tr>
    <tr>
        <td class="table_link"><a id="link" href="">五コマ</a></td>
        <td class="table_link"><a id="link" href=""></a></td>
        <td class="table_link"><a id="link" href=""></a></td>
        <td class="table_link"><a id="link" href=""></a></td>
        <td class="table_link"><a id="link" href=""></a></td>
        <td class="table_link"><a id="link" href=""></a></td>
        <td class="table_link"><a id="link" href=""></a></td>
        <td class="table_link"><a id="link" href=""></a></td>
    </tr>
    <tr>
        <td class="table_link"><a id="link" href="">六コマ</a></td>
        <td class="table_link"><a id="link" href=""></a></td>
        <td class="table_link"><a id="link" href=""></a></td>
        <td class="table_link"><a id="link" href=""></a></td>
        <td class="table_link"><a id="link" href=""></a></td>
        <td class="table_link"><a id="link" href=""></a></td>
        <td class="table_link"><a id="link" href=""></a></td>
        <td class="table_link"><a id="link" href=""></a></td>
    </tr>
</table>
<a class="btn btn-primary btn-lg" role="button" href="" aria-disabled="true">写真送信画面へ</a>
{% endblock content %}